version: '3.3'

services:
  web:
    image: korvettik/flask-app:latest
    build: .
    ports:
      - "80:8080"
    restart: always
    depends_on:
      - db

  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=db_password
      - POSTGRES_USER=db_user
      - POSTGRES_DB=db_name

    


